.nav {
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  padding-right: 0;
  padding-left: 0;
  /* background: rgb(247, 247, 247); */
  background-image: linear-gradient(
    to top,
    rgb(216, 214, 214),
    rgb(252, 252, 253)
  );
  width: 23rem;
  border-right: 1px solid rgb(228, 227, 227);
  transition: width 0.4s ease;
  box-shadow: 1px 1px 20px rgb(218, 218, 218);
}

.nav.inactive {
  width: 8rem;
}

.nav__icons {
  margin: 1rem 0;
}

.nav__list {
  margin-top: 1rem;
}

.nav__list .link {
  display: block;
  justify-content: center;
  align-items: center;
}

.nav__list li {
  padding: 1.3rem 0;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  transition: all 0.3s;
}

.nav__list li:hover {
  background: rgb(212, 211, 211);
}
.nav__list li.selected {
  background: rgb(198, 225, 255);
}

.nav__list .list__icons {
  margin-right: 1rem;
  font-size: 2rem;
}

.nav__list li .text {
  font-size: 2rem;
  transition: font-size 0.2s ease;
}

.inactive .nav__list li .text {
  font-size: 0;
}

.nav__avatar {
  align-self: center;
  box-shadow: 2px 2px 10px rgb(177, 177, 177);
}

.inactive .nav__avatar {
  width: 48px;
  height: 48px;
}

.nav__button {
  align-self: flex-end;
  font-size: 2rem;
  padding-bottom: 2rem;
  transition: all 0.3s ease;
}

.nav__dat {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  transition: font-size 0.3s ease;
}

.nav__name {
  align-self: center;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: font-size 0.3s ease;
}

.inactive .nav__name {
  font-size: 0;
}

.inactive .nav__dat {
  font-size: 0;
}

.dat__number {
  font-weight: 700;
}

.avatar {
  border-radius: 50%;
  width: 12.8rem;
  height: 12.8rem;
  transition: all 0.4s ease;
}
.avatar--sm {
  width: 6.4rem;
  height: 6.4rem;
}
.avatar--lg {
  width: 25.6rem;
  height: 25.6rem;
}
