@import "~antd/dist/antd.css";
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
}

.App {
  display: inline-block;
}

.clickable {
  cursor: pointer;
  transition: color 0.5s;
}

/*Unsetting default ugly css*/

a,
a:active,
a:visited,
a:hover {
  color: unset;
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

button {
  background: transparent;
  outline: 0;
  border: 0;
}
button:focus {
  outline: 0;
}

.my-layout {
  display: flex;
  max-height: 100vh;
  overflow-x: hidden;
}

.my-content {
  padding: 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.my-footer {
  width: 100%;
  padding: 6rem;
  background: rgb(219, 219, 219);
  align-self: flex-end;
}
